/* ---Header--- */

.mainHeader{
  background: $bgHeader;
  margin-bottom: .5em;
}

.header{
  overflow: hidden;
}

.logo{
  display: block;
  float: left;
  padding-top: 0.667em;
  padding-bottom: 0.667em;
}

.mobileMenuButton{
  width: 35px;
  height: 28px;
  float: right;
}

.mobileMenuButtonOpen{
  @extend .mobileMenuButton;
  background: url("../images/icons/mobileMenu.png") no-repeat;
}

.mobileMenuButtonClose{
  @extend .mobileMenuButton;
  background: url("../images/icons/mobileMenuClose.png") no-repeat;
}

.headerNav{

}

.headerNav ul li a{
  display: block;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  font-size: 1.25em;
  font-weight: 400;
  text-transform: uppercase;
  color: $colorFont_1;
  background: $bgMobileMenu;
  border-bottom: 1px solid $borderColor;
  &:hover{
    font-weight: 700;
    color: $colorFont_3;
  }
}

@media (min-width: 768px) {

  .mobileMenuButton{
    display: none;
  }

  .headerNav ul li a{
    display: block;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    font-size: 1.25em;
    font-weight: 400;
    text-transform: uppercase;
    color: $colorFont_1;
    background: $bgMobileMenu;
    border-bottom: 1px solid $borderColor;
    &:hover{
      font-weight: 700;
      color: $colorFont_3;
    }
  }
}