/* ---Header--- */

.mainHeader{
  background: $bgHeader;
  margin-bottom: 2em;
  border-bottom: 1px solid $borderColor;
}

.header{
  position: relative;

}

.logo{
  display: block;
  float: left;
  margin: 1.25em 0 1.25em 1.875em;
}

.mobileMenu{
  margin-right: 30px;
  float: right;
}

.mobileMenuButtonOpen{
  @extend .mobileMenuButton;
  background: url("../images/icons/mobileMenu.png") no-repeat;
}

.mobileMenuButtonClose{
  @extend .mobileMenuButton;
  background: url("../images/icons/mobileMenuClose.png") no-repeat;
}

.mobileMenuButton{
  width: 35px;
  height: 28px;
  float: right;
  margin: 1.25em 0;
}

.headerNavItem{
  border-bottom: 1px solid $borderColor;

  &:first-child{
    border-top: 1px solid $borderColor;
  }
}

.headerNavLink{
  display: block;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  font-size: 1.25em;
  font-weight: 400;
  text-transform: uppercase;
  color: $colorFont_1;
  background: $bgMobileMenu;

  &:hover{
    font-weight: 700;
    color: $colorFont_3;
  }
}

._active{
  font-weight: 700;
  color: $colorFont_3;
}

.socialHeader{
  display: none;
  position: absolute;
}

@media screen and (max-width: 767px) {

  .wrapHeaderNav {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: -300px;
  }
}

@media (min-width: 768px) {

  .header{
    max-width: 1060px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    *zoom: 1
  }

  .logo {
    margin: 1.25em 0 1.063em;
  }

  .mobileMenu{
    position: absolute;
  }

  .mobileMenuButton{
    display: none;
  }

  .wrapHeaderNav{
    float: right;
  }
  
  .headerNav {
    float: left;
  }

  .headerNavItem{
    float: left;
    margin-left: 0.375em;
    border-bottom: none;

    &:first-child{
      border-top: none;
      margin-left: 0;
    }
  }

  .headerNavLink{
    padding: 1.875em 0.625em 1.688em;
    font-size: 0.875em;
    background: none;
    border-bottom: 3px solid $bgHeaderOpacity;
    &:hover{
      border-bottom: 3px solid $colorFont_3;
    }

    &:after {
      display:block;
      content:attr(title);
      font-weight:bold;
      height:1px;
      color:transparent;
      overflow:hidden;
      visibility:hidden;
    }
  }

  ._active{
    border-bottom: 3px solid $colorFont_3;
  }

  .socialHeader{
    display: block;
    position: static;
    float: left;
  }

  .socialHeaderList{
    overflow: hidden;
  }

  .socialHeaderItem{
    float: left;
    margin-left: 0.575em;
    margin-top: 1em;
  }

  .socialHeaderLink{
    color: $colorFont_2;
    font-size: 2em;
  }
}