/* ---Portfolio Item--- */

.portfolioItem{
  background: $bgPortfolioItem;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  border-bottom: 2px solid $borderColor;
  margin-bottom: 2em;
  &:hover{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: darken($bgPortfolioItem, 5%);
    border: 1px solid lighten($colorFont_3, 30%);
  }
  &:hover img{
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    opacity: 1;
  }
}

.portfolioItemImg{
  margin-bottom: 1em;
  img{
    width: 100%;
    height: 100%;
    max-height: 413px;
    opacity: .7;
  }
}

.portfolioItemTitle{
  font-size: 0.875em;
  font-weight: 700;
  color:  $colorFont_1;
  margin-bottom: 0.313em;
}

.portfolioItemInfo{
  padding: 0.750em;
  a{
    font-size: 0.875em;
    font-weight: 400;
    margin-bottom: 0.625em;
    display: inline-block;
    &:hover{
      text-decoration: underline;
    }
  }
}

.portfolioItemTags{
  font-size: 0.75em;
  font-weight: 400;
  color: $colorFont_2;
  padding-top: 0.625em;
  border-top: 1px solid $borderColor;
}